In [21]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple"""

In [23]:
#Ans1
# String variable
my_string = "Hello, World!"

# List variable
my_list = [1, 2.4, 3.1, 4.6, 5]

# Float variable
my_float = 1.24

# Tuple variable
my_tuple = (6.1, 7, 8.5, 9, 10)

In [2]:
my_string

'Hello, World!'

In [7]:
my_list

[1, 2.4, 3.1, 4.6, 5]

In [9]:
my_float

1.24

In [25]:
my_tuple

(6.1, 7, 8.5, 9, 10)

In [26]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1

#What will be the data type of the above given variable.

#Ans2
#(i) var1 - str
#(ii) var2 - str
#(iii) var3 - list
#(iv) var4 - float

In [28]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [32]:
#Ans3
#(i) / (Division Operator):
#The division operator / is used to perform division between two numbers. It returns the quotient as a floating-point number.

x = 12
y = 5

result = x / y
print(result)

#(ii) % (Modulo Operator):
#The modulo operator % is used to calculate the remainder of a division operation.
x = 13
y = 3

result = x % y
print(result)

#(iii) // (Floor Division Operator):
#The floor division operator // performs division and returns the quotient as an integer by discarding any fractional part.
x = 13
y = 3

result = x // y
print(result)

#(iv) ** (Exponentiation Operator):
#The exponentiation operator ** is used to raise a number to the power of another number.

x = 4
y = 5

result = x ** y
print(result)

2.4
1
4
1024

In [33]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [39]:
#Ans4

my_list = [1,6+7j, 5.0, True, [6, 3], {'six': 6}, (9, 5), None, 'seven', 16.0]

for i in my_list:
    print(f"Element: {i} \nData Type: {type(i)}")

Element: 1
Data Type: <class 'int'>
Element: (6+7j)
Data Type: <class 'complex'>
Element: 5.0
Data Type: <class 'float'>
Element: True
Data Type: <class 'bool'>
Element: [6, 3]
Data Type: <class 'list'>
Element: {'six': 6}
Data Type: <class 'dict'>
Element: (9, 5)
Data Type: <class 'tuple'>
Element: None
Data Type: <class 'NoneType'>
Element: seven
Data Type: <class 'str'>
Element: 16.0
Data Type: <class 'float'>

In [40]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [43]:
#Ans5

A = 36
B = 6

count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

In [44]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [46]:
#Ans6

my_list = [12, 24, 57, 18,76, 27, 14, 21, 30, 54, 16, 22, 33, 11, 56, 89, 20, 76, 25, 36, 32, 13, 15, 10, 24]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
24 is divisible by 3.
57 is divisible by 3.
18 is divisible by 3.
76 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
54 is divisible by 3.
16 is not divisible by 3.
22 is not divisible by 3.
33 is divisible by 3.
11 is not divisible by 3.
56 is not divisible by 3.
89 is not divisible by 3.
20 is not divisible by 3.
76 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
32 is not divisible by 3.
13 is not divisible by 3.
15 is divisible by 3.
10 is not divisible by 3.
24 is divisible by 3.

In [47]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [51]:
#Ans

#Mutable data type- A mutable data type can be modified after it is created.
#Operations can directly modify the existing object without creating a new one."""

my_list = [1, 2, 3]
print(my_list)

# Modifying the list (mutable) is allowed

my_list[0] = 4
print(my_list)

#Immutable data type- An immutable data type means that its value cannot be changed after it is created.
#If any operation is performed that seems to modify the data, it actually creates a new object with the modified value."""

my_tuple = (1, 2, 3)
print(my_tuple)

# Trying to modify the tuple (immutable) will result in an error
my_tuple[0] = 4

[1, 2, 3]
[4, 2, 3]
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment